<div class="" style="display: flex; justify-content: center;     display: flex;
    flex-direction: column;">
    <div class="container-header">
        <div class="header">
            <div class="header-child-left">
                <span class="text-Month">
                    September
                </span>
                <span class="text-year">
                    2024
                </span>
            </div>
            <div class="header-child-right">
                <span class="monthly-spand">
                    Monthly Spend
                </span>
                <span class="currency">
                    3452.69 .-
                </span>
            </div>
        </div>
    </div>
    
    <div class="kalenderContainer">
        <div class="kalender">
            <div class="month">
                <!-- <div class="header">
                    <button (click)="changeMonth(-1)">Önceki</button>
                    <h2>{{ currentDate}}</h2>
                    <button (click)="changeMonth(1)">Sonraki</button>
                </div> -->
                <div class="daysOfTheWeek" *ngFor="let day of daysOfWeek;">
                    <p class="dayName">
                        {{day.name}}
                    </p>
                </div>
                <div *ngFor="let day of totalDays" class="daysOfTheMonth" [class.empty]="day === null">
                    <div class="invoices" *ngIf="day !== null">
                        fdfdf
                    </div>
                    <div class="numberOfDays">
                        {{ day !== null ? day : '' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>