$standartViewportView : 4vw;
$colorDark : #1c2423;
$colorLight : #525252ba;
$colorEmpty : #5252523a;
$kalenderWidthSize : 60%;

// days
$daysBgColor : #323234;

@mixin anton-font {
    font-family: "Anton", sans-serif;
    font-weight: 800;
    font-style: normal;
}

@mixin singleDays {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: large;
    margin: 0.3vw;;
}

.container-header {
    display: flex;
    justify-content: center;


    .header {
        width: $kalenderWidthSize;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1vw;
        padding: $standartViewportView - 2vw;
        padding-bottom: $standartViewportView - 2.8vw;

        .header-child-left {
            font-size: calc($standartViewportView - 2vw);

            @include anton-font;
            letter-spacing: calc($standartViewportView / 10);

            .text-Month {
                color: $colorDark;
            }

            .text-year {
                color: $colorLight;
            }
        }

        .header-child-right {
            display: grid;
            grid-template-rows: auto auto;

            font-size: calc($standartViewportView / 2.5);
            @include anton-font;
            text-align: right;


            .monthly-spand {
                color: $colorDark;
            }

            .currency {
                color: $colorLight;
            }
        }
    }
}

.kalenderContainer {
    .kalender {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .month {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto;
            width: 60%;

            .daysOfTheWeek {
                background-color: $colorDark;
                @include singleDays;
                border-radius: 3vw;
                padding: 0.5vw 1vw;
                margin-bottom: 0.6vw;
                color: rgb(246, 247, 248);
            }
            
            .daysOfTheMonth {
                background-color: $colorLight;
                @include singleDays;
                border-radius: 1vw;
                padding: 2.5vw 1vw;
            }
            
            .empty{
                background-color: $colorEmpty;
            }
        }
    }
}

// @media only screen and (max-width: 858px) {
//     .container-header {
//         .header {
//             width: 100%;
//             padding: $standartViewportView;
//             padding-bottom: $standartViewportView - 2.8vw;

//             .header-child-left {
//                 font-size: calc($standartViewportView - 0.5vw);

//                 letter-spacing: calc($standartViewportView / 5);

//                 .text-Month {}

//                 .text-year {}
//             }

//             .header-child-right {
//                 font-size: calc($standartViewportView / 1.2);

//                 .monthly-spand {}

//                 .currency {}
//             }
//         }

//         .kalender-days {}
//     }

//     .kalenderContainer {
//         .kalender {
//             margin: 2vw 4vw;

//             .daysOfWeek {
//                 width: 100%;

//                 .day {
//                     background-color: $daysBgColor;
//                     color: rgb(246, 241, 241);
//                     padding: 0.5vw 1vw;
//                     border-radius: 10vw;
//                     font-size: $standartViewportView - 1.5vw;
//                     font-weight: 600;
//                     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//                     letter-spacing: 2px;
//                     text-align: center;
//                 }
//             }

//             .days {
//                 width: $kalenderWidthSize;
//                 background-color: #525252;
//             }
//         }
//     }
// }