<div class="container-kalender">
    <div class="header">
        <div class="header-child-left">
            <span class="text-Month">
                September
            </span>
            <span class="text-year">
                2024
            </span>
        </div>
        <div class="header-child-right">
            <span class="monthly-spand">
                Monthly Spend
            </span>
            <span class="currency">
                3452.69 .-
            </span>
        </div>
    </div>
</div>