<div class="tooltip scrollAreax">
    <!-- Main Div -->
    <div>
        <!-- header -->
        <div class="header">
            <h1>{{text}} {{currentMonthName}}</h1>
        </div>
        <!-- Main Container -->
         <div class="scrollArea">
             <div class="mainContainer" *ngFor="let number of [].constructor(100); let i = index">
                 <!-- left side -->
                 <div class="leftSide">
                     <!-- left top side -->
                     <div class="leftTopSide">
                         <img  src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_Green.png" alt="Spotify Logo" width="40" height="40">
                         <p>Spotify Invoice</p>
                     </div>
                     <!-- left bottom side -->
                     <div class="leftBottomSide">
                         <p>Renews every {{text}}rd</p>
                     </div>
                 </div>
                 <!-- right side -->
                 <div class="rightSide">
                     <!-- right top side -->
                     <div class="rightTopSide">
                         <p>$8.99</p>
                     </div>
                     <!-- right bottom side -->
                     <div class="rightBottomSide">
                         <div class="status">
                             Active
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    <!-- footer -->
     <div class="tooltip-footer">
        <p class="footerTitle">Total Spend</p>
        <p class="totalSpend">$30.93</p>
     </div>
</div>
